html {
    background: #e6e9e9;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08);
    color: #323232;
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.4;
    margin: auto;
    max-width: 80vw;
    padding: 2em 2em 4em;
    text-align: left;
}

.top-nav {
    position: fixed;
    top: 0;
    width: 80%;
    height: 2em;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    margin: 0 auto;
}

.top-comment {
    font-size: 0.75em;
}

.main {
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    overflow: hidden;
}

blockquote{
    border: none;
    text-align: center;
    margin-left: 0;
}

a {
    color: black; 
    text-decoration: none;
}

.alternate-background {
    background: #24E0FB;
    color: white;
    border-radius: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    color: #323232;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 4px 12px;
}

li a:hover {
    background-color: #111;
}

img {
    max-width: 100%;
}

.img-height-match {
    height: 128px;
}

.remove-space {
    margin: 0px;
    padding: 0px;
}

.add-space-small-tb {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

.add-space-medium-tb {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.add-space-large-tb {
    margin-top: 5em;
    margin-bottom: 5em;
    padding: 5em 2em;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.border {
    border: 1px solid black;
}

.nav-to-the-right {
    margin-left: auto;
    margin-right: 0em;
}

.side-pads {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/* small screen nav */
.hamburger-icon {
    display: inline-block;
    grid-column: -1;
}
.top-nav {
    background: lightblue;
    height: unset;
}
.nav-menu {
    /* position: fixed; */
    grid-row: 2;
    grid-column: 1 / 5;
    display: grid;
    flex-direction: column;
    background-color: pink;
    width: 100%;
}
/* bigger screen nav  */
@media only screen and (min-width: 600px) {
    .logo {
        grid-row: 1;
        grid-column: 1;
    }
    .hamburger-icon {
        display: none;
    }
    .nav-menu {
        display: inline-block;
        grid-row: 1;
        grid-column: 4;
    }
}

@media only screen and (min-width: 1024px) {

    .grid-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
    }
}